
{%-  if type and type != ""  -%}
{%- assign url = "" -%}
{% if type == "Writing"%}
  {%- assign url = "writing" -%}
{% endif %}

{%- for t in site.supersets -%}
  {%- assign lowType = type|downcase -%}
  {%- assign lowT = t.title|downcase -%}
  {%- if lowT == lowType -%}
    {%- assign url = t.url -%}
  {%- endif  -%}
{%- endfor -%}
<a href="{{url|absolute_url}}">{{type}}</a>

{%-  elsif topic and topic != "" -%}

{%- assign url = "" -%}
{%- for t in site.topics -%}
  {%- assign lowTopic = topic|downcase -%}
  {%- assign lowT = t.title|downcase -%}
  {%- if lowT == lowTopic -%}
    {%- assign url = t.url -%}
  {%- endif  -%}
{%- endfor -%}

{%- if url  != '' -%}
<a href="{{url|absolute_url}}">{{topic}}</a>
{%- else -%}
<span class="text-black">{{topic}}</span>
{%- endif -%}

{%-  endif  -%}
