<div class="tabs">

  <ul class="tabs__list" role="tablist">
    <li class="tabs__list-item" role="presentation">
      <button id="tab-topics" type="button" role="tab" aria-selected="true" aria-controls="topics">
        Topics
      </button>
    </li>
    <li class="tabs__list-item tabs__list-item--selected" role="presentation">
      <button id="tab-types" type="button" role="tab" aria-selected="true" aria-controls="types">
        Types
      </button>
    </li>
  </ul>

  <div id="topics" role="tabpanel" tabindex="0" aria-labelledby="tab-topics">
    <ul class="topics-list">
      {% assign topics = site.topics | where_exp: "item", "item.showInIndex == true"  %}

      {% for topic in topics %}
        {% assign condition = "item.topics contains '" | append: topic.title | append: "'" %}
        {%- assign postsInTopic = site.writing | where_exp: "item", condition -%}
        <li class="topics-list__item">
          <a href="{{topic|relative_url}}">{{ topic.title }} ({{ postsInTopic.size }})</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div id="types" role="tabpanel" tabindex="0" aria-labelledby="tab-types">
    <ul class="topics-list">
      {% assign types = site.supersets | where_exp: "item", "item.showInIndex == true"  %}

        <li class="topics-list__item">
          <a href="{{site.baseurl}}writing">Writing ({{ site.writing.size }})</a>
        </li>
        <li class="topics-list__item">
          <a href="{{site.baseurl}}notes">Notes ({{ site.notes.size }})</a>
        </li>
      {% for type in types %}
        {% assign condition = "item.topics contains '" | append: type.title | append: "'" %}
        {%- assign postsInType = site.writing | where_exp: "item", condition -%}
        <li class="topics-list__item">
          <a href="{{type|relative_url}}">{{ type.title }} ({{ postsInType.size }})</a>
        </li>

      {% endfor %}
    </ul>
  </div>
</div>
