<div class="tabs" data-module="tabs">

  <ul class="tabs__list" role="tablist">
    <li class="tabs__list-item" role="presentation">
      <a href="#topics" id="tab-topics" type="button" role="tab" aria-selected="true" aria-controls="topics">
        Topics
      </a>
    </li>
    <li class="tabs__list-item tabs__list-item--selected" role="presentation">
      <a href="#types" id="tab-types" type="button" role="tab" aria-selected="true" aria-controls="types">
        Types
      </a>
    </li>
  </ul>

  <div class="tabs__panel" id="topics" role="tabpanel" tabindex="0" aria-labelledby="tab-topics">
    <ul class="topics-list">
      {% assign topics = site.topics | where_exp: "item", "item.showInIndex == true"  %}

      {% for topic in topics %}
        {% assign condition = "item.topics contains '" | append: topic.title | append: "'" %}
        {%- assign postsInTopic = site.writing | where_exp: "item", condition -%}
        <li class="topics-list__item">
          <a href="{{topic|relative_url}}">{{ topic.title }}</a>
          <span class="topics-list__item-count"> x {{ postsInTopic.size }}</span>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="tabs__panel tabs__panel--hidden" id="types" role="tabpanel" tabindex="0" aria-labelledby="tab-types">
    <ul class="topics-list">
      {% assign types = site.supersets | where_exp: "item", "item.showInIndex == true"  %}

        <li class="topics-list__item">
          <a href="{{site.baseurl}}writing">Writing</a>
          <span class="topics-list__item-count">x {{ site.writing.size }}</span>
        </li>
        <li class="topics-list__item">
          <a href="{{site.baseurl}}notes">Notes</a>
          <span class="topics-list__item-count">x {{  site.notes.size }}</span>
        </li>
      {% for type in types %}
        {% assign condition = "item.topics contains '" | append: type.title | append: "'" %}
        {%- assign postsInType = site.writing | where_exp: "item", condition -%}
        <li class="topics-list__item">
          <a href="{{type|relative_url}}">{{ type.title }}</a>
          <span class="topics-list__item-count">x {{ postsInType.size }}</span>
        </li>

      {% endfor %}
    </ul>
  </div>
</div>
