::selection {
	background: theme("colors.yellow.DEFAULT");
}
::-moz-selection {
	background: theme("colors.yellow.DEFAULT");
}

html {
	height: 100%;
}

body {
	@apply  flex flex-col min-h-screen;
	@apply font-sans;
	@apply text-black bg-offwhite;
}

body > div {
	@apply grow;
}

h1 {
	@apply text-2xl 2xl:text-3xl leading-8;
	@apply font-serif font-normal;
}

h1 span {
	@apply font-serif font-normal;
}


h2 {
	@apply font-serif leading-6;
	@apply text-xl;
}

h3 {
	@apply font-sans;
	@apply text-lg;
	@apply mb-6
}

p {
	@apply text-md md:text-lg 2xl:text-xl;
	@apply mb-8;
}


a {
  @apply text-black;
}

ol, ul {
	@apply pl-5;
	@apply mb-8;
}

hr {
	@apply my-12 2xl:my-14 mx-auto;
	height: 1px;
  background-image: linear-gradient(to right, theme('colors.grey.3') 3px, transparent 3px);
  background-repeat: repeat-x;
  background-size: 6px 2px;
	border: 0;
	width: 90%;
}

hr.full-width {
	@apply w-full;
}

.content p:not(.hero) {
	@apply mb-6 max-w-[40em];
}

.content h1 {
	@apply text-lg mb-8;
}

.content h2 {
	@apply font-sans font-bold;
	@apply text-lg leading-7 2xl:text-2xl 2xl:leading-9;
	@apply mb-3 sm:mb-4 2xl:mb-6 pt-4;
}

.content h5,
.content h4,
.content h3 {
	@apply font-sans font-bold;
	@apply text-lg 2xl:text-xl leading-6 2xl:leading-8;
	@apply mb-2 sm:mb-3 pt-0 2xl:mb-5;
}

.content h5,
.content h4 {
	@apply text-md 2xl:text-lg leading-5 2xl:leading-8;
}

.content ol li,
.content ul li {
	@apply list-disc;
	@apply text-base sm:text-md 2xl:text-xl;
	@apply mb-2;
}

.content ol li {
	@apply list-decimal;
}

.content ul li ul {
	@apply my-2;
}

.content li a,
.content p a {
	/* @apply text-accent-7; */
	background-size: 1px 1em;
	box-shadow:
		inset 0 0px theme('colors.offwhite'),
		inset 0 -1px theme('colors.accent.DEFAULT');
		text-shadow:
			1px 1px theme('colors.offwhite'),
			1px -1px theme('colors.offwhite'),
			-1px 1px theme('colors.offwhite'),
			-1px -1px theme('colors.offwhite');
	display: inline;
}

.content p a::selection {
  text-shadow: none;
}
.content p a::-moz-selection {
  text-shadow: none;
}

.content li a:hover,
.content p a:hover {
	@apply text-accent;
	box-shadow:
		inset 0 0px theme('colors.offwhite'),
		inset 0 -2px theme('colors.accent.DEFAULT');
  	/* background-image: url("../assets/wiggle-green-dark.svg");
	background-repeat: repeat-x;
	background-position: 0 1.15em;
	background-size: 9px 5px; */
	/* padding-bottom: 10px; */
	/* box-shadow: none; */
}

.content li a:focus,
.content p a:focus {
	@apply outline-none;
	@apply bg-none;
  @apply pb-0;
	@apply bg-yellow-light;
	box-shadow: 0 -2px theme('colors.yellow.light'), 0 4px theme('colors.black');
	text-shadow: none;
}

.content blockquote {
	@apply border-l-accent-4 border-l-2 pl-4 text-grey-6 italic;
}

.content iframe {
	@apply max-w-full mb-8;
}

.content img {
	border-radius: 10px;
	/* border: 1px solid #e1e1e1; */
}

.content--photographs img {
	border-radius: 0;
}


.content div.highlight {
	@apply border-2 border-grey-3;
	@apply p-2 mb-5;
	background-color: white;
	border-radius: 4px;
	@apply text-base sm:text-sm;
}

footer p {
	@apply text-grey text-sm;
}

