.tabs__list {
    @apply relative;
    @apply flex gap-0;
    @apply pl-0 mb-3;
  }

  .tabs__list:before {
    content: "";
    @apply w-2;
    @apply border-b border-grey-light;
  }

  .tabs__list:after {
    content: "";
    @apply absolute bottom-0 z-0;
    @apply h-px w-full;
    @apply bg-grey-lightest;
  }

  .tabs__list-item {
    @apply min-w-[4rem];
    @apply text-center tracking-wide;
    @apply border-b border-grey-light;
    @apply rounded-t;
    @apply text-grey;
    @apply relative z-10;
  }
  .tabs__list-item button,
  .tabs__list-item a {
    @apply block px-4 py-1;
  }

  .tabs__list-item.tabs__list-item--selected {
    @apply bg-offwhite border-b-0;
    @apply border-r border-grey-light;
    @apply border-l border-grey-light;
    @apply border-t border-grey-light;
    @apply text-black;
  }

  .tabs__list-item:hover:not(.tabs__list-item--selected) {
    @apply text-black;
    box-shadow:
      inset 0 1px theme('colors.offwhite'),
      inset 0 -2px theme('colors.accent.dark');
  }
  
  .tabs__panel--hidden {
    display: none;
  }
