
.main-col {
  @apply max-w-3xl 2xl:mx-auto 2xl:max-w-4xl;
  @apply pl-4 md:pl-8 lg:pl-16 pr-4;
}

.grey-underline,
.black-underline {
  background-size: 1px 1em;
  text-shadow:
  1px 1px theme('colors.offwhite'),
  1px -1px theme('colors.offwhite'),
  -1px 1px theme('colors.offwhite'),
  -1px -1px theme('colors.offwhite');
  display: inline;
  @apply pb-px;
}

.black-underline {
  box-shadow:
    inset 0 -2px theme('colors.offwhite'),
    inset 0 -3px theme('colors.black');
}
.grey-underline {
  box-shadow:
    inset 0 -2px theme('colors.offwhite'),
    inset 0 -3px theme('colors.grey.DEFAULT');
}

.article-card__title:hover .black-underline,
.black-underline:hover {
  box-shadow:
  inset 0 -2px theme('colors.offwhite'),
  inset 0 -4px theme('colors.black');
}

.article-card__title:hover .grey-underline,
.grey-underline:hover {
  box-shadow:
  inset 0 -2px theme('colors.offwhite'),
  inset 0 -4px theme('colors.black');
}

.section-link {
  @apply text-grey;
}

.section-link:after {
  content: "";
  @apply inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-width: max(1px, 0.0625em) max(1px, 0.0625em) 0 0;
  transform: rotate(45deg);
}

.bg-offwhite-bottom {
  background: linear-gradient(to top, theme('colors.offwhite') 8px, theme(colors.offwhite / 0%));
}


.pdf-download {
  @apply block w-full flex;
  @apply rounded border border-grey-dark;
  @apply px-4 py-3;
}

.pdf-download a {
  @apply flex-[3_1_0%];
  @apply !pb-2;
  box-shadow: inset 0 0 #fcfcfc,inset 0 -3px theme('colors.accent.dark') !important;
}

.pdf-download a strong {
  @apply block;
}

.pdf-download a:hover {
  @apply !pb-2;
  @apply bg-yellow;
  box-shadow: inset 0 0 #fcfcfc,inset 0 -3px theme('colors.black') !important;
  text-shadow: none !important;
  background-image: none !important;
}

.pdf-download::after {
  content: url("../assets/icon-pdf-aquamarine.svg");
  @apply flex-1 h-24 self-center block;
  @apply text-right;
}
