<!DOCTYPE html>
<html lang="en">

{%- include head.html -%}
<body>
  <a class="skip-to-content-link" href="#main">
    Skip to content
  </a>  
  <div>
    <header class="flex main-col place-content-between {% if page.layout == "post" %}mb-8 md:{% endif %}mb-12 2xl:mb-16">
      <div class="squiggle squiggle--hidden{% if page.layout == "post" %} squiggle--article{%endif%}"">
        <a href="{{site.baseurl}}/">
          <span class="sr-only">Home</span>
          <canvas aria-hidden="true" id="squiggle"></canvas>
        </a>
      </div>
      {%- include nav.html -%}
    </header>
    <main id="main" class="section{% if page.layout == "home" %} main-col{%endif%}">
      {{content}}
    </main>   
  </div>
  <footer class="main-col pt-8">
  {%- include footer.html -%}             
  </footer>
  <script src="{{site.baseurl}}/assets/js/main.js"></script>
  </body>
</html>
