<!DOCTYPE html>
<html lang="en">

{%- include head.html -%}
<body>
  <div>
    <header class="flex main-col place-content-between mb-8">
      <div class="squiggle squiggle--hidden{% if page.layout == "post" %} squiggle--article{%endif%}"">
        <a href="{{site.baseurl}}/">
          <span class="sr-only">Home</span>
          <canvas aria-hidden="true" id="squiggle"></canvas>
        </a>
      </div>
      {%- include nav.html -%}
    </header>
    <main id="main" class="section main-col{% if page.layout == "post" %} main-col--article{%endif%}">
      {{content}}
    </main>   
  </div>
  <footer class="main-col pt-8">
  {%- include footer.html -%}             
  </footer>
  <script src="{{site.baseurl}}/assets/js/main.js"></script>
  </body>
</html>
