---
layout: default
---
<div class="mb-5 sm:mb-6 2xl:mb-8">
  <h1><span class="text-accent">Gareth Foote.</span> {{page.subtitle}}</h1>
</div>
<div class="content">
  {% include content.html %}
</div>
{%- assign homepageNotes = site.notes | where:"homepage", true  -%}
{%- assign posts = site.writing | concat: homepageNotes | sort: "date" | reverse | slice: 0, 10  -%}

{% for type in page.types %}
<section class="mb-6 sm:mb-8">
  <h2 class="eyebrow homepage-eyebrow"><span>{{type}}<span></h2>
  {% for post in posts %}
    {% if post.types[0] == type %}
      <div class="mb-2">
        {%- include article-card.html -%}
      </div>
    {% endif%}
  {% endfor %}
</section>
{% endfor %}

{% for topic in page.topics %}
<section class="mb-6 sm:mb-8">
  <h2 class="eyebrow homepage-eyebrow"><span>{{topic}}<span></h2>
  {% for post in posts %}
    {% if post.topics[0] == topic %}
      <div class="mb-2">
        {%- include article-card.html -%}
      </div>
    {% endif%}
  {% endfor %}
</section>
{% endfor %}

<a class="section-link block mt-8" href="{{site.baseurl}}/writing"><span class="">See all writing</span></a>

<hr>

{% comment %} <p class="text-base">Browse all writing by topic or type.</p> {% endcomment %} 
{%- include topics-list.html -%}
