---
layout: default
---
<div class="mb-12 2xl:mb-16">
  <h1>Gareth Foote. <span>{{page.subtitle}}</span></h1>
</div>
<div class="content mb-12 2xl:mb-16">
  {% include content.html %}
</div>
{%- assign posts = site.writing | where:"homepage", true | sort: "date" | reverse | slice: 0, 10  -%}
{%- include article-cards.html -%}

<p class="content">
<a class="section-link mt-4" href="{{site.baseurl}}/writing">See all writing</a>
</p>

{% comment %} <p class="text-base">Browse all writing by topic or type.</p> {% endcomment %} 
{%- include topics-list.html -%}
