---
layout: base
---

<!--- Notes Feed Layout-->
<div class="column is-6-widescreen  is-8-desktop is-8-tablet is-12-mobile">
  <h5 class="meta-title"><a href="{{site.baseurl}}/">← Home</a></h5>
  <div class="jumbo">{{page.title}}</div>
  {%- include content.html -%}

  {%- if site.preferences.search.enabled -%}
    <!-- search bar -->
    <div class="block">
      <input class="input is-medium" type="text" placeholder="Search notes.." id="search-input" autocomplete="off">
      <div id="search-results" class="search-results"></div>
    </div>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/vendor/lunr.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/Search.js"></script>
  {%- endif -%}
  <div class="related-wrapper">
  {% assign note_items = site.notes | sort: "date" | reverse %}
  {% for note_items in note_items %}
    {%- if note_items.feed == true -%}
      <div class="notelist-feed">
        <a href="{{ site.baseurl }}{{note_items.url}}">
          <h6>{{ note_items.title }}</h6>
          <p class="excerpt">
            {{ note_items.content | strip_html | strip | remove: "[[" | remove: "]]" | remove: "-" | escape | truncate: 200 }}
          </p>
        </a>
      </div>
    {%- endif -%}
  {%- endfor -%}
  </div>
</div>
