---
layout: default
---

<header class="post-hero">
  <div class="post-hero__container">
    <h1>{{page.title}}</h1>
  </div>
</header>

<div class="content main-col">
{%- include content.html -%}
</div>
{%- if site.preferences.search.enabled -%}
  <!-- search bar -->
<div class="search main-col">
  <input class="input is-medium" type="text" placeholder="Search notes.." id="search-input" autocomplete="off">
  <div id="search-results" class="search-results"></div>
</div>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/vendor/lunr.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/Search.js"></script>
{%- endif -%}

<section class="main-col">
{% assign notes = site.notes | sort: "date" | reverse %}
{%- include notes-list.html -%}
</section>
