---
layout: default
---

<article>
  <header class="post-hero">
    <span class="eyebrow text-accent-7">{{page.types[0]}}</span>
    <h1>{{page.title}}</h1>
    {% comment %}
    <div class="post-hero__metadata">
      <time class="whitespace-nowrap" datetime="{{page.date}}">{{ page.date |  date: "%d %b, %Y" }}</time> 
      {%- assign hasTopic = false -%}
      {% if page.topics.size > 0 %}
        {%- assign hasTopic = true -%}
        {%- assign topic = page.topics[0] -%}
        <span class="whitespace-nowrap">in&nbsp;{%- include tag.html -%}</span>
      {%- endif -%}
      {%- if page.types.size > 0 -%}
        {%- assign type = page.types[0] -%}
        <span>{% if hasTopic %}&nbsp;&amp;{% else %}in{% endif %}&nbsp;{%- include tag.html -%}</span>
      {% endif %}
    </div>
    {% endcomment %}
  </header>
  <div class="content relative">
    {%- include content.html -%}
    <div class="post-meta">
      <div class="post-meta__container">
        <div>Written on <time class="whitespace-nowrap" datetime="{{page.date}}">{{ page.date |  date: "%d %b, %Y" }}</time></div>
        {%- assign hasTopic = false -%}
        {% if page.topics.size > 0 %}
          {%- assign hasTopic = true -%}
          {%- assign topic = page.topics[0] -%}
          <div>Topic:&nbsp; {%- include tag.html -%}</div>
        {%- endif -%}
        {%- if page.types.size > 0 -%}
          {%- assign type = page.types[0] -%}
          <div>Superset:&nbsp; {%- include tag.html -%}</div>
        {% endif %}
      </div>
    </div>
  </div>
</article>

{% comment %}
{% assign conditionTopic = "item.topics contains '" | append: page.topics[0] | append: "'" %}
{% assign conditionNotThisPage = "item.id != '" | append: page.id | append: "'"%}
{% assign posts = site.writing | where_exp: "item", conditionTopic | where_exp: "item", conditionNotThisPage %}
{%- include article-cards.html -%}
{% endcomment %}

{%- include backlinks.html -%}

<section class="mt-16">
  {%- include topics-list.html -%}
</section>
