---
layout: default
---

<div class="post-hero">
  <h1>{{page.title}}</h1>
  <div class="post-hero__metadata">
    <time datetime="{{page.date}}">{{ page.date |  date: "%d %b, %Y" }}</time> 
    <span class="whitespace-nowrap">in&nbsp;<a href="{{site.baseurl}}/topic/{{page.topics[0]}}" class="tag">{{page.topics[0]}}</a></span>
  </div>
</div>

{%- include content.html -%}

<hr>

{% comment %}
This is not working as a condition for some unknown reason. 

{% assign condition = "" %}
{% for t in page.topics %}
  {%- if forloop.index0 > 0 -%}
    {% assign condition = condition | append: " or " %}
  {%- endif -%}
  {% assign condition = condition | append: "item.topics contains '" | append: t | append: "'" %}
{% endfor  %}
{% endcomment %}

{% assign condition2 = "item.topics contains '" | append: page.topics[0] | append: "' and item.id != '" | append: page.id | append: "'" %}
{%- assign posts = site.writing | where_exp: "item", condition2 | sort: date | reverse -%}
{%- include post-list.html -%}

{%- include backlinks.html -%}
</div>
